<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.heytz.GWSdkBLEwrapper" version="0.3.4" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GWSdkBLEwrapper</name>
    <js-module name="GWSdkBLEwrapper" src="www/GWSdkBLEwrapper.js">
        <clobbers target="cordova.plugins.GWSdkBLEwrapper"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="GWSdkBLEwrapper">
                <param name="ios-package" value="GWSdkBLEwrapper"/>
            </feature>
        </config-file>
        <source-file src="src/ios/GWSdkBLEwrapper.m"/>
        <framework custom="true" src="GizDataAccess.framework"/>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GWSdkBLEwrapper">
                <param name="android-package" value="com.heytz.GWSdkBLEwrapper.GWSdkBLEwrapper"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
        </config-file>
        <source-file src="src/android/GWSdkBLEwrapper.java" target-dir="src/com/heytz/GWSdkBLEwrapper/" />
        <source-file src="libs/json-lib-2.4-jdk15.jar" target-dir="libs" />
        <source-file src="libs/GizDataAccessSdk-1.1.0.150427.jar" target-dir="libs" />
    </platform>
</plugin>